body {
    color: #414141;               /* Dark gray */
    background-color: #EEEEEE;    /* Light gray */
    font-size: 18px;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 1.8em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
  }

  ul {
    list-style-type: inherit;
  }

  ol {
    list-style-type: disc;
  }