* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* color: lightslategray; */
}

.page {
  width: 900px;
  margin: 0 auto;
    
}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
}

.menu {
  height: 100px;
  background-color: #B2D6FF;    /* Medium blue */
}

.sidebar {
  float: left;
  width: 200px;
  height: 300px;
  background-color: #F09A9D;    /* Red */
}

.content {
  width: 650px;
  height: 500px;
  background-color: #F5CF8E;    /* Yellow */
  float: left;

  padding: 20px;
}

.footer {
  clear: both;
  overflow: hidden;
  background-color: #D6E9FE;    /* Light blue */
}

.footer-item {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;
  color: #5D6063;
}

.article-image {
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 40px;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}