* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 900px;
    margin: 0 auto;
    
}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
}

.menu {
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
  }
  
  .sidebar {
    float: left;
    width: 200px;
    height: 300px;
    background-color: #F09A9D;    /* Red */
  }
  
  .content {
    width: 650px;
    height: 500px;
    background-color: #F5CF8E;    /* Yellow */
    float: left;
  }
  
  .footer {
    clear: both;
    height: 100px;
    background-color: #D6E9FE;    /* Light blue */
  }